<!-- Footer -->
<footer class="template-footer">

	<div class="footer-primary-widgets">
		<div class="container">
			{{widget('profile', 'primary1', { 'profileType':'socialicons' })|raw}}
			{{widget('profile', 'primary2', { 'profileType':'address' })|raw}}
			{{widget('profile', 'primary3', { 'profileType':'twitter' })|raw}}

		</div>
	</div>

	<div class="footer-secondary-widgets">
		<div class="container">



			{{widget('profile', 'secondary4', { 'profileType':'email' })|raw}}
			{{widget('profile', 'secondary7', { 'profileType':'phone' })|raw}}
			{{widget('profile', 'secondary9', { 'profileType':'copyright' })|raw}}
		</div>
	</div>

</footer>
<!-- End Footer -->